<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>
    <form th:object="${inputForm}" method="post" th:action="@{/input}" >
        <p>text1</p>
        <input type="text" th:field="*{text1}"/>
        <p>text2</p>
        <input type="text" th:field="*{text2}"/>
        <!--<p>text3</p>-->
        <!--<input type="text" th:field="*{text3}"/>-->

        <p>メールアドレス</p>
        <input type="text" th:field="*{mailAddress.text}"/>
        <input type="submit" value="送る"/>
    </form>
</body>